footer {
  width:90%;
  margin:0 auto;
  position:relative;
  h3 {
    text-align:center;
    color:white;
    font-size: 30px;
    margin-bottom:0px;
  }
  h2 {
    font-size:25px;
  }
  p {
    color:white;
  }
  .contacts {
    width:50%;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
    padding:40px;
    a {
      color:white;
    }
  }
  margin-bottom: 50px;
  margin-top: 80px;
}
