footer {
  width:90%;
  margin:0 auto;
  position:relative;
  h3 {
    text-align:center;
    color:white;
    font-size: 30px;
    margin-bottom:0px;
  }
  h2 {
    font-size:25px;
  }
  p {
    color:white;
    text-align:center;
  }
  span {
    position:relative;
    padding-bottom: 4px;
  }
  span:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
  }
  .contacts {
    width:50%;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
    padding:40px;
    a {
      color:white;
    }
    p {
      text-align: left;
    }
  }
  margin-bottom: 50px;
  margin-top: 80px;
}
