/* Laptops ----------- */

@media(max-width: 1024px) {
.plan {
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction:column;
  img {
    height:50vh;
  }
  .plan-droite{
    text-align:left;
  }
  .plan-gauche {
    margin:0 auto;
  }
}
.liste {
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction:column;
  img.bouquet {
    height:50vh;
    margin:0 auto;
  }
}
  .cta a {
    min-width: 290px;
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media(max-width: 720px) {
  h1 {
    font-size:50px;
  }
  header {
    height: 50vh;
    min-height: 500px;
    .header {
    height: 90%;
      img {
        width:250px;
        margin-top: 60px;
      }
    }
  }
  .header-illu.three, .header-illu.four, .header-illu.five {
    height: 70px;
  }
  .header-illu.four {
    display:none;
  }
  .header-illu.one, .header-illu.two, .header-illu.six {
    width: 70px;
  }
  .header .header-content {
      padding: 30px;
      overflow: hidden;
      width: 100%;
    }
  .section-content {
    margin:20px auto;
  }
  nav .site-header {
    justify-content: space-between;
  }
  .mobile {
    display: inline-block;
    font-size: 30px;
  }
  .site-links {
    display: none;
    position: absolute;
    padding: 0px;
    top: 59px;
    width: 90%;
    padding: 10px 0px;
    overflow:hidden;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $gold;
    background-color: $dark-blue;
    a {
      padding:5px 0px;
    }
  }

  // INTRO

  section.white .intro {
    display:block;
  }

  section.white .intro div {
    width: auto;
  }



  // CHATEAU

  #ceremonie {
    h2 {
      margin-top: 50px
    }
  }

  .section-illustration {
    .fleur-droite img, .fleur-gauche img {
    width: 70px;
    }
    .fleur-gauche {
    bottom: -4px;
    left: -10px;
    }
    .chateau-info {
    position: absolute;
    left: 10%;
    bottom: 0%;
    padding: 30px;
    }
  }
  .section-illustration.chateau {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(212,157,90,0.9)), url(/images/chateau.png);
    min-height: 450px;
    background-position: -160px;
    background-size: cover;
    margin-top: 30px;
    position: relative;
  }
  // PLAN
  .plan {
    img {
    height: 300px;
    margin-top:30px;
    }
    .plan-gauche {
    margin: 0 auto;
    }
  }

  // LOGEMENTS
  .section-hotels {
    width: 90%;
    margin: -50px auto;
    a {
      font-size: 22px;
    }
    h3 {
      margin-top: 10px;
    }
  }

  // LISTE

  .liste {
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction:column;
  img.bouquet {
    height:30vh;
    margin:0 auto;
    }
  a {
    font-size: 22px;
  }
  }

  // RSVP
  section#RSVP{
    &:before, &:after {
      display:none;
    }
    .form form {
      width: auto;
    }
  }

  .cta a {
    padding: 30px 40px;
    text-align: center;
    min-width: 160px;
  }

  // FOOTER
  footer .contacts {
    display:block;
    width: auto;
  }
  // CREDITS
  .creds a.author {
    font-size: 17px;
  }
}

