/* Laptops ----------- */

@media(max-width: 1024px) {
.plan {
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction:column;
  img {
    height:50vh;
  }
  .plan-droite{
    text-align:left;
  }
  .plan-gauche {
    margin:0 auto;
  }
}
.liste {
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction:column;
  img.bouquet {
    height:50vh;
    margin:0 auto;
  }
}
}

/* Smartphones (portrait and landscape) ----------- */

@media(max-width: 720px) {

  .header .header-content {
      padding: 30px;
      overflow: hidden;
      width: 100%;
    }
  nav .site-header {
    justify-content: space-between;
  }
  .mobile {
    display: inline-block;
    font-size: 30px;
  }
  .site-links {
    display: none;
    position: absolute;
    padding: 0px;
    top: 59px;
    width: 90%;
    padding: 10px 0px;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $gold;
    background-color: $dark-blue;
    a {
      padding:5px 0px;
    }
  }

  // CHATEAU

  .section-illustration {
    .fleur-droite img, .fleur-gauche img {
    width: 70px;
    }
    .fleur-gauche {
    bottom: -4px;
    left: -10px;
    }
    .chateau-info {
    position: absolute;
    left: 10%;
    bottom: 0%;
    padding: 30px;
    }
  }
  .section-illustration.chateau {
    background: linear-gradient(to bottom, rgba(255,255,255,0), #d49d5a80), url(/images/chateau.png);
    min-height: 450px;
    background-position: -160px;
    background-size: cover;
    margin-top: 30px;
    position: relative;
  }
  // PLAN
  .plan {
    img {
    height: 300px;
    }
    .plan-gauche {
    margin: 0 auto;
    }
  }

  // LOGEMENTS
  .section-hotels {
    width: 90%;
    margin: -50px auto;
    a {
      font-size: 25px;
    }
  }

  // LISTE

  .liste {
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction:column;
  img.bouquet {
    height:30vh;
    margin:0 auto;
    }
  a {
    font-size: 22px;
  }
  }



  // FOOTER
  footer .contacts {
    display:block;
    width: auto;
  }
}

