/* Smartphones (portrait and landscape) ----------- */

@media(max-width: 720px) {
  .header .header-content {
      padding: 30px;
      overflow: hidden;
      width: 100%;
    }
  nav .site-header {
    justify-content: space-between;
  }
  .mobile {
    display: inline-block;
    font-size: 30px;
  }
  .site-links {
    display: none;
    position: absolute;
    padding: 0px;
    top: 90px;
    width: 90%;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $gold;
    a {
      padding:5px 0px;
    }
  }
}


@media(max-width: 1024px) {
.plan {
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction:column;
  img {
    height:50vh;
  }
  .plan-droite{
    text-align:left;
  }
}
}
