// GENERIC STYLE

body {
  background-color:$dark-blue;
}

section {
  color: white;
  text-align: center;
  min-height: 568px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .section-content{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    margin-top: 1.5em;
    color: $light-blue;
  }
  a {
    font-size: 16px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

// INTRO

section.white {
  background-color:white;
  padding:30px 0px;
  .intro{
    display:flex;
    flex-direction:initial;
  }
  .intro div {
    padding:0px 40px;
    text-align:center;
    width:50%;
  }
  img {
    width:180px;
    margin:20px 0px;
  }
  p {
    color: $dark-blue;
    // text-indent: 50px;
    text-align:left;
    line-height: 18px;
  }
  h1 {
    font-size:40px;
    text-align:center;
  }
  h2 {
    color: $light-blue;
    text-align:center;
  }
}

// CEREMONIE

section#ceremonie {
  min-height: 110vh;
}

.section-illustration.chateau {
  background: url(/images/chateau.png);
  min-height: 450px;
  background-position: center;
  background-size: cover;
  margin-top:30px;
  position:relative;
}

.section-illustration{
  .fleur-droite img, .fleur-gauche img {
      width: 150px;
  }
  .fleur-droite, .fleur-gauche {
    position:absolute;
  }
  .fleur-gauche {
    bottom: -4px;
    left:0px;
  }
  .fleur-droite {
    top:0px;
    right:0px;
  }
  .chateau-info {
      position: absolute;
      left: 200px;
      bottom: 0px;
    ul {
      text-align:left;
    }
    li {
      font-size: 30px;
      padding:10px 0px;
      letter-spacing: 3px;
    }
    li > a {
      font-size: 30px;
      color:white;
      position:relative;
      padding-bottom: 4px;
    }
    li > a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
    }
  }
}

// COMMENT VENIR

section#venir {
  min-height: 700px;
}

.plan {
  display:flex;
  justify-content:space-around;
  align-items: center;
  width:90%;
  img {
    height:60vh;
  }
  .plan-gauche {
    margin-right: 40px;
  }
  .plan-droite{
    text-align:left;
  }
}

// LOGEMENTS

section#logements {
  display:block;
}

.petales {
  background-image: url('/images/petales.png');
  min-height: 390px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width:90%;
  padding-top: 90px;
}

.section-hotels {
  margin-top:-50px;
  li {
    transition: all 0.2s ease-in;
    padding:15px 0px;
  }
  li:hover {
    background-color:$gray;
  }
  li:hover p {
    color:white;
  }
  b {
    color: $red;
  }
  p {
    margin:0;
    transition: all 0.2s ease-in;
  }
  h3 {
    font-size:30px;
    color: white;
  }
  a {
      font-size: 30px;
      color:white;
      position:relative;
      padding-bottom: 4px;
  }
  li a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
  }
}

// LISTE

section#liste {
  min-height: 700px;
}

.liste {
  display:flex;
  justify-content:space-around;
  align-items: center;
  width:90%;
  img.bouquet {
    height:60vh;
    margin-right:40px;
  }
  ul {
    text-align:left;
  }
  li {
    padding:10px 0px;
  }
  a {
    position:relative;
    padding-bottom: 4px;
    font-size:30px;
  }
  a.first{
    color:white;
  }
  a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
  }
  a.second{
    color: $red;
  }
}
// RSVP

section#RSVP {
  min-height: 400px;
  background-color: $gold;
  position:relative;
  &:before {
    content: '';
    width: 80px;
    height: 380px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(/images/cerise-gauche.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:after {
    content: '';
    width: 80px;
    height: 380px;
    position: absolute;
    right: 0;
    top:0;
    background-image:url('/images/cerise-droite.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .form.visible {
    display:block;
  }
  .form {
    display:none;
    position:absolute;
    background-color:rgba(0,0,0,0.3);
    top:0;
    left:0;
    right:0;
    bottom:0;
    min-height: 411px;
    form {
      position:relative;
      min-height: 380px;
      background-color:white;
      width:400px;
      margin:0 auto;
      padding:10px;
    }
    #close {
      position:absolute;
      top:10px;
      right:10px;
      color:black;
      cursor: pointer;
    }
    li {
    text-align:left;
    margin: 0 auto;
    width: 330px;
    }
    .choice {
      padding: 10px 0px;
    }
    span {
      color:$light-blue;
    }
  }
}

.cta {
  width:70%;
  text-align:left;
  h1 {
  color:white;
  }
  a {
    display:inline-block;
    font-size: 25px;
    text-transform: uppercase;
    border:1px solid white;
    padding:30px 100px;
    color:white;
    cursor:pointer;
    transition: all 0.1s ease-in!important;
  }
  a:hover {
    color: $gold;
    background-color:white;
  }
}

.hidden {
  position:absolute;
  bottom:0;
  left:0;
  width:50px;
  height:50px;
  color:rgba(255,255,255,0.1);
  text-decoration:none;
  display:flex;
  align-items:center;
  justify-content:space-around;
  &:hover {
    background-color: $light-blue;
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.credits {
  position:absolute;
  bottom:10px;
  right:10px;
  color:white;
  font-size:20px;
  text-decoration: none;
}
