// Define variables for your color scheme

// For example:
$red: #D44038;
$light-blue: #7D7A97;
$dark-blue: #1B163E;
$gold: #D49D5A;
$orange: #E67E22;
$green: #32B796;
$gray: #342F54;
$light-gray: #979797;
