@font-face {
    font-family: 'Neutra Text Demi SC';
    src: url('../fonts/NeutraText-DemiSC.eot');
    src: url('../fonts/NeutraText-DemiSC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeutraText-DemiSC.woff') format('woff'),
        url('../fonts/NeutraText-DemiSC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

$Neutra: "Neutra Text Demi SC";

// @font-face {
//     font-family: 'Retrology Clean';
//     src: url('../fonts/Retrology-Clean.eot');
//     src: url('../fonts/Retrology-Clean.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Retrology-Clean.woff') format('woff'),
//         url('../fonts/Retrology-Clean.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// $Retrology: "Retrology Clean";


@font-face {
    font-family: 'Outfitter Script';
    src: url('../fonts/OutfitterScript.eot');
    src: url('../fonts/OutfitterScript.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OutfitterScript.woff') format('woff'),
        url('../fonts/OutfitterScript.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

$Outfitter-Script: "Outfitter Script";

// Define fonts for body and headers
$body-font: $Neutra, "Helvetica", "sans-serif";
$headers-font: $Outfitter-Script, "Times", "serif";
$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$font-size-base: 16px;

h1 {
  color: $gold;
  font-size: 70px;
  margin: 0px;
  font-weight: 100;
}

h2 {
  font-family: $headers-font;
  color: white;
  font-size: 30px;
  font-weight:100;
}

body, p, h1, input {
  font-family: $body-font;
}

p {
  font-size: $font-size-base;
  letter-spacing: 1px;
}
