  <section id="ceremonie">
    <div class="section-content">
      <h2 data-animate-in="up">
        Nous vous attendons nombreux pour la cérémonie au
      </h2>
      <h1 data-animate-in="up">
        Château du Clair de Lune
      </h1 data-animate-in="up">
      <p>
        un petit coin de paradis pour célébrer notre amour
      </p>
    </div>
    <div class="section-illustration chateau" data-animate-in="fadeIn">
      <div class="fleur-droite" data-animate-in="fadeIn">
        <%= image_tag 'fleurs-droite.png' %>
      </div>
      <div class="fleur-gauche" data-animate-in="fadeIn">
        <%= image_tag 'fleurs-gauche.png' %>
      </div>
      <div class="chateau-info">
          <ul>
             <li><a href="https://www.google.fr/maps/place/Château+du+Clair+de+Lune/" target="_blank">48, Avenue Alan Seeger 64200 Biarritz France ></a></li>
             <li>Samedi 23 Juin 2018 à 17:00</li>
           </ul>
      </div>
    </div>
  </section>
