<footer>
  <h3 data-animate-in="up">Contactez-nous</h3>
  <p data-animate-in="up"><span>hello@manon-thibault.com</span></p>
  <div class="contacts" data-animate-in="up">
    <div>
      <h2>Dominique & Jean-Michel Gouffrant</h2>
      <p>10 rue Lormand 64100 Bayonne</p>
      <p>06 11 99 62 48</p>
      </div>
    <div>
      <h2>Edwige Chatoux</h2>
      <p>7 rue Daillière 49000 Angers</p>
      <p>02 41 88 28 17</p>
    </div>
  </div>
  <a href="/runner.html" class="hidden">.</a>
  <a href="/credits.html" class="credits">Crédits ></a>
</footer>
