  <header id="accueil">
      <img src="/images/header/1.png" data-animate-in="fadeIn" class="header-illu one">
      <img src="/images/header/2.png" data-animate-in="fadeIn" class="header-illu two">
      <img src="/images/header/3.png" data-animate-in="fadeIn" class="header-illu three">
      <img src="/images/header/4.png" data-animate-in="fadeIn" class="header-illu four">
      <img src="/images/header/5.png" data-animate-in="fadeIn" class="header-illu five">
      <img src="/images/header/6.png" data-animate-in="fadeIn" class="header-illu six">
      <div class="header">
        <div class="header-content">
        <p data-animate-in="up">
          <%= image_tag 'title.png' %>
        </p>
        <h2 data-animate-in="up">
          Se marient le 23 juin 2018 à Biarritz
        </h2>
        <p>
          <a href="#RSVP">RSVP</a>
        </p>
        </div>
      </div>
  </header>
