  <section id="liste">
    <div class="section-content">
      <div class="liste">
        <span>
        <%= image_tag 'bouquet.png', class: "bouquet" %>
        </span>
        <ul data-animate-in="right">
          <li>
            <h1>Notre liste</h1>
          </li>
          <li>
            <a href="/voyage.html" class="first">Participez librement à notre voyage de noces! ❤️ ></a>
          </li>
          <li>
            <a href="https://manon-thibault.zankyou.com/fr" class="second" target="_blank">ou consultez notre liste d'envies ></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
