  <section id="logements">
    <div class="section-content petales">
      <h1 data-animate-in="up">Hôtels</h1>
      <h2 data-animate-in="up">Pensez à réserver rapidement à Biarritz et alentours… </h2>
      <p data-animate-in="up"> nos recommendations:</p>
    </div>
    <div class="section-hotels">
      <ul>
        <li data-animate-in="up">
          <b>*** Bidard</b>
          <h3>
            <a href="https://www.booking.com/hotel/fr/domaine-de-bassilour.fr.html" target="_blank">Hôtel Domaine de Bassilour ></a>
          </h3>
          <p>un manoir restauré du XVIIIe siècle entouré d'un jardin... <br>c’est aussi le plus proche pour nous rejoindre!</p>
        </li>
        <li data-animate-in="up">
          <b>*** Arbonne</b>
          <h3>
            <a href="https://www.booking.com/hotel/fr/hotellaminak.fr.html" target="_blank">Hôtel Laminak ></a>
          </h3>
          <p>belle maison typique du pays basque, vous allez adorer</p>
        </li>
        <li data-animate-in="up">
          <b>Aéroport Biarritz</b>
          <h3>
            <a href="https://www.booking.com/hotel/fr/ibis-budget-biarritz-anglet.fr.html" target="_blank">Hôtel Ibis ></a>
          </h3>
          <p>Idéal pour une courte durée et pour les petits budgets!</p>
        </li>
        <li data-animate-in="up">
          <b>Aéroport Biarritz</b>
          <h3>
            <a href="https://www.booking.com/hotel/fr/campanile-biarritz.fr.html" target="_blank">Hôtel Campanile ></a>
          </h3>
          <p>2km du centre ville et seulement 800m de l’aéroport - tellement pratique!</p>
        </li>
        <li data-animate-in="up">
          <b>**** Aéroport Biarritz</b>
          <h3>
            <a href="https://www.booking.com/hotel/fr/biarritz-anglet-aeroport.fr.html" target="_blank"> Hôtel Novotel ></a>
          </h3>
          <p>un 4 etoiles dans un parc de 3 hectares situé à 1k de l’aéroport, qui dit mieux?</p>
        </li>
      </ul>
    </div>
  </section>
