  <section id="venir">
    <div class="section-content">
      <div class="plan">
        <div class="plan-gauche">
          <%= image_tag 'plan.png' %>
        </div>
        <div class="plan-droite">
          <h2 data-animate-in="right">
            Une petite idée des distances:
          </h2>
          <p data-animate-in="right">
            Aéroport > Chateau<br>
            3,6 km - 8 min en voiture
          </p>
          <p data-animate-in="right">
            Gare > Chateau<br>
            1,3 km - 3 min en voiture, 18 min à pieds
          </p>
          <h2 data-animate-in="right">
            Venez en taxi, repartez en navette!
          </h2>
          <p data-animate-in="right">
            Navettes gratuites à partir de 00:30 <br>pour vous raccompagner à votre hôtel
          </p>
        </div>
      </div>
    </div>
  </section>
