---
title: M&T - Crédits
---

<main>
  <section>
    <div class="section-content creds">
      <h2>Charte graphique:</h2>
      <h1>Chloé Genaitay</h1>
      <p><a class="author" href="https://www.behance.net/chloegenaitay" target="_blank">Ne ratez pas son profil Behance ></a></p>
      <br>
      <h2>Webdesign:</h2>
      <h1>Thibault Genaitay</h1>
    </div>
  </section>
</main>
