---
title: All you need is love! Manon & Thibault 2018
---

<main>

  <header>

    <div id="home">
      <div class="home-content">
        <p>
          This page is up!
        </p>
        <h2 data-animate-in="up" class="in-view">
          Se marient le 23 juin 2018 à Biarritz
        </h2>
      </div>
    </div>

  </header>
  <section id="">

    <div id="home">
      <div class="home-content">
        <p>
          This is another section!
        </p>
        <h2 data-animate-in="up" class="in-view">
          And a title here
        </h2>
      </div>
    </div>

  </section>
  <section id="">

  </section>

</main>

<footer>

</footer>
