---
title: All we need is love! Manon & Thibault 2018
---

<main>
  <header id="accueil">
      <div class="header">
        <div class="header-content">
        <p data-animate-in="up">
          <%= image_tag 'title.svg' %>
        </p>
        <h2 data-animate-in="up">
          Se marient le 23 juin 2018 à Biarritz
        </h2>
        <p>
          <a href="#mt">RSVP</a>
        </p>
        </div>
      </div>
  </header>

  <%= partial "layouts/navbar" %>

  <section id="mt" class="white">
    <div class="section-content">
      <p data-animate-in="up">
        This is the first section!
      </p>
      <h2 data-animate-in="up">
        To introduce the couple
      </h2>
    </div>
  </section>

  <section id="ceremonie">
    <div class="section-content">
      <h2 data-animate-in="up">
        Nous vous attendons nombreux pour la cérémonie
      </h2>
      <h1 data-animate-in="up">
        Château du Clair de Lune
      </h1 data-animate-in="up">
      <p>
        un petit coin de paradis pour célébrer notre amour
      </p>
    </div>
  </section>

  <section id="venir">
    <div class="section-content">
      <p data-animate-in="up">
        This is another section!
      </p>
      <h2 data-animate-in="up">
        And a title here
      </h2>
    </div>
  </section>

</main>

<footer>

</footer>
