---
title: M&T - Aidez nous pour un voyage!
---


<%= partial "layouts/return" %>
<main>
  <section>
    <div class="section-content">
      <h1>Participez à notre voyage!</h1>
      <h2>Maldives, Australie, Cuba... dur de faire un choix.</h2>
      <%= image_tag 'RIB-Manon.png', class: "rib" %>
      <div class="form">
      <form action="/thankyou.html" name="Participation voyage" data-netlify="true">
        <ul>
          <li><input type="text" placeholder="Nom Prénom" name="Nom" required></li>
          <li>
          <textarea placeholder="Ajoutez un message!" name="Message"></textarea>
          </li>
          <li><input type="submit" value="envoyer" class="submit"></li>
        </ul>
      </form>
      </div>
    </div>
  </section>
</main>
